@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

/* Custom CSS for horizontal scrolling text */
.text-scroll {
  width: 100%; /* Full width of the container */
  white-space: nowrap; /* Prevent line breaks */
  overflow: hidden; /* Hide the overflowing text */
  position: relative;
}

.text-scroll p {
  display: inline-block;
  animation: scrollX 30s linear infinite; /* Animation that scrolls horizontally */
}

/* Keyframes for horizontal scrolling */
@keyframes scrollX {
  0% {
    transform: translateX(150%); /* Start off-screen to the right */
  }
  100% {
    transform: translateX(-100%); /* End off-screen to the left */
  }
}
